<% if @stock %>
<div class="card card-header">
    <strong> Symbol: </strong> <%= @stock[0] %>
    <strong> Sector: </strong> <%= @stock[1] %>
    <strong> Price: </strong> <%= @stock[2] %>
</div>
<% end %>
